.chatContainer {
  box-sizing: border-box;
  padding: 0 100px 0;
  height: calc(100vh - 48px);
  overflow: hidden;
}

.chatList {
  padding: 30px 0 0;
  height: calc(100vh - 70px);
  overflow-y: scroll;
}

.chatList::-webkit-scrollbar {
  display: none;
}

.chatInputWrapper {
  width: 100%;
}

.chatInput {
  height: 45px;
  border-radius: 5px;
}

.chatBtn {
  width: 120px;
  height: 45px;
}