.table {
  width: 680px;
  border: 1px solid #e8e8e8;
  border-bottom: none;
}

.tableHeader, .row {
  box-sizing: border-box;
  display: flex;
  padding: 10px 6px 10px 12px;
}

.tableHeader {
  font-weight: 500;
}

.headerItem, .col {
  width: 50%;
}

.row:nth-child(even) {
  background: #f8f8f8;
  border-top: 1px solid #e8e8e8;
  border-bottom: 1px solid #e8e8e8;
}

.important {
  color: #21a943;
  font-weight: 500;
}